.DoingSection {
    background-color: #F7F8FA;
    background-color: #FFAD01;
}

.DoingSection .doing .Heading h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    word-wrap: break-word;
}

.DoingSection .doing .work {
    width: 100%;
}

.DoingSection .doing .work .Items {
    width: 100%;
    margin: 20px 0;
    padding: 50px 20px;
    font-weight: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C30234;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}

.DoingSection .doing .work .Items.boxesa {
    /* // border: 1px solid white;
// border-radius: 20px; */
    display: flex;
    justify-content: center;
    background-color: #F7F8FA;
    /* // background-color: rgba(0, 0, 0, 0.3); */
    color: white;
    width: 100%;
}

.DoingSection .doing .work .Items a {
    color: #FFAD01;
}

.jumbotron {
    background-color: #C30234;
}